.App {
  margin: 20px 20px;
}
.Blogs {
  text-align: center;
}
.Navbar {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.Links {
  margin-left: auto;
}
.Links a {
  text-decoration: none;
  padding: 10px;
  color: orange;
}
