.App {
  margin: 20px 20px;
}
.Blogs {
  text-align: center;
}
.Article {
  max-width: 900px;
  margin: 0 auto;
}
.Navbar {
  font-size: 25px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.Links {
  margin-left: auto;
}
.Links a {
  text-decoration: none;
  padding: 10px;
  color: orange;
}
.BlogsList {
  text-decoration: none;
  color: black;
}
.Blogs {
  padding: 10px;
}
.BlogsListTitle {
  color: orange;
  font-weight: bold;
  font-size: 20px;
}
form {
  text-align: center;
}
label,
input,
block,
select {
  display: block;
  margin: 0 auto;
  padding: 15px 50px;
}
textarea {
  padding: 30px 50px;
}
.CreateTitle {
  text-align: center;
}

button {
  padding: 20px 20px;
  border-radius: 5%;
  margin-top: 30px;
  background-color: orange;
  font-size: 15px;
  font-weight: bold;
}
